/main
.*.swp
__pycache__/
.cache
.mypy_cache/
/env/
/mypy_env/
*.pyc
/test/generated/**/*.py
!/test/generated/**/__init__.py
/test/generated_concrete/**/*.py
!/test/generated_concrete/**/__init__.py
/test/generated_async_only/**/*.py
!/test/generated_async_only/**/__init__.py
/test/generated_sync_only/**/*.py
!/test/generated_sync_only/**/__init__.py
.pytest_cache
/build/
/dist/
*.egg-info
.idea/
.DS_Store
/venv_*
/protoc_*
