/go/src/github.com
/main
.*.swp
__pycache__/
.cache
.mypy_cache/
/env/
/mypy_env/
*.pyc
/generated/**/*.py
/generated/**/*.pyi
/generated_2.7
/generated_3.5
.pytest_cache
/python/build/
/python/dist/
*.egg-info
.idea/
*.DS_Store
*venv*
/runenv
