/go/src/github.com
/main
.*.swp
__pycache__/
.cache
.mypy_cache/
/env/
/mypy_env/
*.pyc
/test/proto/*.py
/test/proto/*.pyi
/test/proto/*/*.py
/test/proto/*/*.pyi
.pytest_cache
/python/dist/
*.egg-info
