[build-system]
requires = [
    "setuptools>=42",
    "wheel",
]
build-backend = "setuptools.build_meta"

[tool.black]
extend-exclude = "(_pb2.py$|_pb2_grpc.py$)"
# We don't care about line length for generated code
line-length = 10000

[tool.isort]
skip_gitignore = true
extend_skip = ["mypy_protobuf/extensions_pb2.py"]

[tool.mypy]
strict = true
show_error_codes = true

[tool.pyright]
venvPath = "."
venv = "venv_3.8.11"
# verboseOutput = true
extraPaths = ["test/generated"]
include = [
    "mypy_protobuf/",
    "test/"
]
exclude = [
    "**/*_pb2.py",
    "**/*_pb2_grpc.py"
]
