# Requirements to run unit tests. Tests import from
# generated code.
protobuf==6.32.1
pytest==8.4.2
types-grpcio==1.0.0.20251009
pytest-asyncio==0.25.3
grpcio-tools==1.76.0
types-protobuf==6.32.1.20251105
