name: CI

# Run on git push, PR, or manually from the Actions tab
on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  run_test:
    name: mypy-protobuf - ${{ matrix.py-ver-mypy-protobuf }} - unittest - ${{ matrix.py-ver-unit-tests }} - protobuf ${{ matrix.protobuf-version }} - dedot imports ${{ matrix.dedot-imports }}
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        # Running mypy-protobuf itself
        py-ver-mypy-protobuf:
          - 3.9.17
          - 3.10.12
          - 3.11.4
          - 3.12.12
          - 3.13.9
          - 3.14.0
        # Running unit tests
        py-ver-unit-tests:
          - 3.9.17
          - 3.10.12
          - 3.11.4
          - 3.12.12
          - 3.13.9
          - 3.14.0
        protobuf-version:
          - 6.32.1
          - 6.33.1
        dedot-imports:
          - 0
        include:
          # Dedot imports has a smaller matrix, just validate that things still work
          - py-ver-mypy-protobuf: 3.14.0
            py-ver-unit-tests: 3.14.0
            protobuf-version: 6.33.1
            dedot-imports: 1
          - py-ver-mypy-protobuf: 3.14.0
            py-ver-unit-tests: 3.14.0
            protobuf-version: 6.32.1
            dedot-imports: 1



    steps:
      - uses: actions/checkout@v4
      - name: Read version numbers
        run: |
          echo ::set-output name=PROTOBUF_VERSION::$(grep "^protobuf>=" test_requirements.txt | cut -f2 -d=)
          echo ::set-output name=PYRIGHT_VERSION::$(grep '"pyright"' .github/package.json | cut -d\" -f4)
        id: read_versions
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true # Optional: Enable caching for uv's package cache
          cache-dependency-glob: '**/*requirements.txt' # Optional: Specify a glob pattern to determine cache keys
      - name: Run Tests (./run_test.sh)
        env:
          PY_VER_MYPY_PROTOBUF: ${{matrix.py-ver-mypy-protobuf}}
          PY_VER_UNIT_TESTS: ${{matrix.py-ver-unit-tests}}
          PY_VER_MYPY: ${{matrix.py-ver-mypy-protobuf}}
          PYTHON_PROTOBUF_VERSION: ${{matrix.protobuf-version}}
          VALIDATE: 1
          DEDOT_IMPORTS: ${{matrix.dedot-imports}}
        run: |
          ./run_test.sh



  pyright:
    name: Pyright - ${{ matrix.python-version }}
    strategy:
      matrix:
        python-version:
          - 3.9.17
          - 3.10.12
          - 3.11.4
          - 3.12.12
          - 3.13.9
          - 3.14.0
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Read version numbers
        run: |
          echo ::set-output name=PYRIGHT_VERSION::$(grep '"pyright"' .github/package.json | cut -d\" -f4)
        id: read_versions
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true # Optional: Enable caching for uv's package cache
          cache-dependency-glob: '**/*requirements.txt' # Optional: Specify a glob pattern to determine cache keys
      - run: |
          uv venv -p ${{ matrix.python-version }}
          uv pip install -r test_requirements.txt
      - name: Run Pyright
        uses: jakebailey/pyright-action@v2
        with:
          version: "${{ steps.read_versions.outputs.PYRIGHT_VERSION }}"
          python-path: .venv/bin/python3

  linting:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.9"
      - name: Run formatters and linters
        run: |
          pip3 install black==24.3.0 isort flake8 flake8-pyi flake8-noqa flake8-bugbear
          black --check --extend-exclude '(_pb2_grpc|_pb2).pyi?$' .
          isort --check . --diff
          flake8 .
      - name: run shellcheck
        uses: reviewdog/action-shellcheck@v1
        with:
          # By default, shellcheck tries to make sure any external files referenced actually exist
          shellcheck_flags: -e SC1091

  sanity_check_windows:
    name: Sanity Check Windows Executable
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.9"
      - name: Read versions
        run: echo ::set-output name=PROTOBUF_VERSION::$(grep "^protobuf>=" test_requirements.txt | cut -f2 -d=)
        id: read_versions
      - name: Install Protoc
        uses: arduino/setup-protoc@v3
        with:
          version: "${{ steps.read_versions.outputs.PROTOBUF_VERSION }}"
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Run Protoc
        run: |
          pip3 install -e .
          mkdir wintestout
          protoc --python_out=wintestout --mypy_out=wintestout proto\mypy_protobuf\extensions.proto
